.form-wrapper {
  min-height: calc(100vh - 68px);
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  border-radius: 4px;
  background-color: var(--nat-100);
  box-shadow: 1px 1px 4px var(--shadow);
}

.form-wrapper form .form-header {
  text-align: center;
}

.form-wrapper form .form-header h2 {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
}

.form-wrapper form .form-header span {
  display: inline-block;
  margin: 1rem 0 1rem;
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: capitalize;
  color: var(--black);
}

.form-wrapper form .remember-me {
  align-self: flex-start;
}



.form-wrapper form .remember-me label {
  margin-left: 0.5rem;
  color: var(--black);
  font-size: 0.75rem;
  font-weight: bold;
}

.form-wrapper form .quick-access {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form-wrapper form .quick-access .quick-title {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 1rem;
  background-color: var(--nat-100);
  color: var(--black);
  font-weight: bold;
  text-transform: uppercase;
  z-index: 2;
}

.form-wrapper form .quick-access .quick-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 100%;
  background-color: var(--nat-100);
  z-index: -1;
}

.form-wrapper form .quick-access .quick-title::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--nat-400);
  z-index: -1;
}

.form-wrapper form .quick-access .social-container a {
  margin: 0 1rem;
  color: var(--black);
  font-size: 1.5rem;
  cursor: pointer;
}

.form-wrapper form .quick-access .social-container svg {
  transition: color var(--trans-dur);
}

.form-wrapper form .quick-access .social-container a:nth-child(1) svg:hover {
  color: #1877f2;
}

.form-wrapper form .quick-access .social-container a:nth-child(2) svg:hover {
  color: #eb4132;
}

.form-wrapper form .quick-access .social-container a:nth-child(3) svg:hover {
  color: #1da1f2;
}

.form-wrapper .login-switch {
  margin-top: 1rem;
  color: var(--black);
}

.form-wrapper .login-switch a {
  margin-left: 0.25rem;
  color: var(--brand-300);
  text-decoration: underline;
}
