.field-group {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.field-group input,
.field-group textarea {
  min-width: 400px;
  padding: 0.5rem 0;
  background: none;
  border: none;
  border-bottom: 2px solid var(--nat-400);
  color: var(--black);
}

.field-group input.error {
  border-color: var(--red);
}

.field-group input.success {
  border-color: var(--green);
}

.field-group input::placeholder,
.field-group textarea::placeholder {
  text-transform: capitalize;
  color: var(--black);
}

.field-group input:focus,
.field-group textarea:focus {
  outline: none;
}

.field-group svg.offscreen {
  display: none;
}

.field-group .error-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: var(--red);
}

.field-group .success-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: var(--green);
}

.field-group .tool-tip {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 0.5rem;
  background-color: var(--nat-600);
  border-radius: 4px;
  color: var(--nat-100);
  z-index: 1;
}

.field-group .tool-tip svg {
  margin-right: 0.5rem;
  color: var(--nat-100);
}

.error-container {
  width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 1rem;
  background-color: var(--red);
  border-radius: 4px;
}

.error-icon {
  color: var(--white-fix);
  margin-right: 0.5rem;
}

.error-massage {
  color: var(--white-fix);
}

form input[type="submit"] {
  width: 100%;
  padding: 0.5rem 0;
  margin: 2rem 0;
  background-color: var(--brand-200);
  border-radius: 4px;
  color: var(--white-fix);
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
  transition: background var(--trans-dur);
}

form input[type="submit"]:hover {
  background-color: var(--brand-300);
}

form input[type="submit"]:disabled {
  background-color: var(--nat-300);
  cursor: not-allowed;
}

