/* Start Dashboard */
.top-nav {
  background-color: var(--nat-200);
  border-bottom: 1px solid var(--nat-700);
}

.top-nav li a {
  display: inline-block;
  position: relative;
  z-index: 2;
  padding: 0.5rem 1rem;
  color: var(--nat-700);
  text-transform: capitalize;
  font-size: 1rem;
  transition: color var(--trans-dur);
}
.top-nav li:not(:last-of-type) a {
  border-right: 1px solid var(--nat-700);
}

.top-nav li:hover a {
  color: var(--nat-200);
}

.top-nav li a::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--nat-700);
  transition: width var(--trans-dur);
}

.top-nav li:hover a::after {
  width: 100%;
}
/* End Dashboard */
/* Start Header */
.low-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nat-100);
  position: relative;
}

.low-nav .left-nav {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.low-nav .logo a {
  display: inline-block;
  margin-right: 2rem;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--nat-700);
  font-size: 1.5rem;
  font-weight: bold;
}

.low-nav .navigation {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.low-nav .navigation .nav-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  text-transform: capitalize;
  cursor: pointer;
}

.low-nav .navigation .nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--nat-600);
  transition: width var(--trans-dur);
}

.low-nav .navigation .nav-item:hover::after,
.low-nav .navigation .nav-item.active::after {
  width: 100%;
}

.low-nav .navigation .nav-item a {
  color: var(--nat-700);
}

.low-nav .navigation .drop-down {
  cursor: auto;
}

.low-nav .navigation .drop-down .drop-down-label {
  cursor: pointer;
}

.low-nav .navigation .drop-down svg {
  margin: 0 0.5rem;
}

.low-nav .navigation .drop-menu {
  display: none;
  position: absolute;
  z-index: 100;
  top: calc(100% + 5px);
  left: -1rem;
  width: 80vw;
  height: 80vh;
  padding: 1rem;
  background-color: var(--nat-100);
  border-radius: var(--radius);
  box-shadow: 2px 2px 4px var(--shadow);
}

.low-nav .navigation .drop-menu .drop-header .drop-title {
  padding-left: 0.5rem;
  margin: 0 2rem;
  border-left: 2px solid var(--nat-700);
  text-transform: capitalize;
  color: var(--nat-700);
  font-size: 1.25rem;
  font-weight: bold;
}
.low-nav .navigation .drop-menu .drop-header svg {
  color: var(--nat-700);
  font-size: 2rem;
  cursor: pointer;
}

.low-nav .navigation .drop-menu .drop-header svg:last-of-type {
  margin-left: auto;
}

.low-nav .navigation .drop-menu .drop-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  text-align: center;
  row-gap: 40px;
}

.low-nav .navigation .drop-menu .drop-content a {
  text-transform: capitalize;
  color: var(--nat-700);
}

.low-nav .navigation .drop-menu .drop-content a span {
  transition: color var(--trans-dur);
}

.low-nav .navigation .drop-menu .drop-content a:hover span {
  color: var(--brand-100);
}

.low-nav .theme-button {
  width: 60px;
  padding: 0 0.2rem;
  background-color: var(--nat-500);
  border: 1px solid var(--nat-600);
  border-radius: var(--radius);
  cursor: pointer;
  transition: background var(--trans-dur);
}

.low-nav .theme-button:hover {
  background-color: var(--brand-200);
}

.low-nav .theme-button svg {
  color: var(--nat-100);
  transition: transform var(--trans-dur);
}

.low-nav .theme-button svg.fa-moon {
  transform: translateX(300%);
}

.low-nav .account-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.low-nav .account-menu .username {
  margin: 0 1rem 0 2rem;
  color: var(--nat-600);
  transform: capitalize;
}

.low-nav .account-menu .user-menu {
  position: relative;
  width: 60px;
  height: 60px;
}

.low-nav .account-menu .profile-image {
  width: 100%;
  background-color: var(--nat-200);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s;
}

.low-nav .account-menu .profile-image:hover {
  transform: scale(1.1);
}

.low-nav .account-menu .profile-image.active {
  transform: scale(1.1);
  border-radius: 50% 50% 0 0;
}

.low-nav .account-menu .menu-drop {
  position: absolute;
  top: 95%;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: var(--nat-200);
}

.low-nav .account-menu .menu-drop.active {
  display: flex;
}

.low-nav .account-menu .log-in,
.low-nav .account-menu .profile {
  margin: 0 1rem;
  color: var(--nat-600);
  transition: color var(--trans-dur);
}

.low-nav .account-menu .log-in:hover,
.low-nav .account-menu .profile:hover {
  color: var(--brand-200);
}

.low-nav .account-menu .sign-up,
.low-nav .account-menu .logout {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background-color: var(--nat-600);
  border-radius: var(--radius);
  color: var(--nat-200);
  font-weight: bold;
  cursor: pointer;
  transition:
    color var(--trans-dur),
    background var(--trans-dur);
}

.low-nav .account-menu .sign-up:hover,
.low-nav .account-menu .logout:hover {
  background-color: var(--brand-200);
  color: var(--nat-600);
}
/* Start Mobile Nav */
.mob-nav {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.mob-nav li > svg {
  color: var(--nat-600);
  font-size: 1.2rem;
  margin: 0 1rem 0 2rem;
  cursor: pointer;
  transition: transform var(--trans-dur);
}

.mob-nav li > svg:hover,
.mob-nav li.active > svg {
  transform: rotate(90deg);
}

.mob-nav li .drop-down {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--nat-200);
  z-index: 100;
}

.mob-nav li.active .drop-down {
  display: flex;
}

.mob-nav li.active .drop-down .account-menu {
  width: 100%;
  border-bottom: 1px solid var(--nat-300);
  padding: 4rem 0 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.mob-nav li.active .drop-down .navigation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.mob-nav li.active .drop-down .navigation li {
  width: 100%;
}

.mob-nav li.active .drop-down .navigation li a {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  background-color: var(--nat-100);
  color: var(--black);
  text-transform: capitalize;
  font-size: 1.1rem;
  transition:
    color var(--trans-dur),
    background var(--trans-dur);
}

.mob-nav li.active .drop-down .navigation li:not(:last-of-type) a {
  border-bottom: 2px solid var(--black);
}

.mob-nav li.active .drop-down .navigation li:hover a {
  background-color: var(--black);
  color: var(--nat-100);
}
/* End Mobile Nav */
/* ###### End Header ###### */
