/* ######## Start Landing ######## */
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing .landing-title {
  text-transform: capitalize;
  color: var(--nat-600);
  font-size: 3rem;
  font-weight: bold;
}

.landing .landing-info {
  margin: 1.5rem;
  color: var(--nat-600);
  font-size: 1.5rem;
  font-weight: bold;
}

.landing .platforms-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.landing .platforms-container .download-app {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
  padding: 1.2rem;
  background-color: var(--brand-200);
  border-radius: var(--radius);
  color: var(--nat-fix-200);
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
  transition: box-shadow var(--trans-dur);
}

.landing .platforms-container .download-app::after {
  content: "get doc for linux";
  position: absolute;
  transition: font-size var(--trans-dur);
}

.landing .platforms-container .download-app:hover::after {
  font-size: .95rem;
}

.landing .platforms-container .download-app:hover {
  box-shadow: inset 0 0 0px 4px var(--nat-600);
}

.landing .platforms-container .more-platform {
  color: var(--brand-200);
  text-transform: capitalize;
  transition: color var(--trans-dur)
}

.landing .platforms-container .more-platform:hover {
  color: var(--nat-600)
}
/* ######## End Landing ######## */
