/*#### Start Global Media ####*/

@media only screen and (min-width : 320px) and (max-width : 480px) {
	.hid-xe {
		display: none !important;
	}

	:root {
		font-size: 14px;
	}
}

@media only screen and (min-width : 481px) and (max-width : 768px) {
	.hid-sm {
		display: none !important;
	}
}

@media only screen  and (min-width : 769px) and (max-width : 1224px) {
	.hid-mid {
		display: none !important;
	}
}

@media only screen  and (min-width : 1225px) {
	.hid-big {
		display: none !important;
	}
}

/*#### End Global Media ####*/