/* Start Global */
* {
  box-sizing: border-box;
  list-style: none;
}

:root {
  /* #### OTHER #### */
  --radius: 4px;
  --trans-dur: .3s;
  --shadow: rgba(0, 0, 0, 15%);
  font-size: 16px;

  /* #### COLORS #### */
  /* BRAND */
  --brand-100: #64B5F6;
  --brand-200: #1976D2;
  --brand-300: #1976D2;

  /* NAT */
  --nat-100: #FAFAFA;
  --nat-200: #EEEEEE;
  --nat-300: #E0E0E0;
  --nat-400: #757575;
  --nat-500: #424242;
  --nat-600: #212121;
  --nat-700: #141414;

  --black: #000000;
  --white: #FFFFFF;

  /* NAT FIX */
  --nat-fix-100: #FAFAFA;
  --nat-fix-200: #EEEEEE;
  --nat-fix-300: #E0E0E0;
  --nat-fix-400: #757575;
  --nat-fix-500: #424242;
  --nat-fix-600: #212121;
  --nat-fix-700: #141414;

  --black-fix: #000000;
  --white-fix: #FFFFFF;

  /* SUPPORT */
  --blue: #3F51B5;
  --red: #F44336;
  --green: #4CAF50;
}

[theme="dark"] {
  --nat-700: #FAFAFA;
  --nat-600: #EEEEEE;
  --nat-500: #E0E0E0;
  --nat-400: #757575;
  --nat-300: #424242;
  --nat-200: #212121;
  --nat-100: #141414;

  --white: #000000;
  --black: #FFFFFF;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: var(--nat-200);
}

/* End Global */

/* Start Dashboard */
.top-nav {
  background-color: var(--nat-200);
  border-bottom: 1px solid var(--nat-700);
}

.top-nav li a {
  display: inline-block;
  position: relative;
  z-index: 2;
  padding: .5rem 1rem;
  color: var(--nat-700);
  text-transform: capitalize;
  font-size: 1rem;
  transition: color var(--trans-dur);
}
.top-nav li:not(:last-of-type) a {
  border-right: 1px solid var(--nat-700);
}

.top-nav li:hover a {
  color: var(--nat-200)
}

.top-nav li a::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--nat-700);
  transition: width var(--trans-dur);
}

.top-nav li:hover a::after {
  width: 100%;
}
/* End Dashboard */
/* Start Header */
.low-nav {
  background-color: var(--nat-100);
}

.low-nav .logo a {
  display: inline-block;
  margin-right: 2rem;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--nat-700);
  font-size: 1.5rem;
  font-weight: bold;
}

.low-nav .navigation .nav-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  color: var(--nat-700);
  text-transform: capitalize;
  cursor: pointer;
}

.low-nav .navigation .nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--nat-600);
  transition: width var(--trans-dur)
}

.low-nav .navigation .nav-item:hover::after,
.low-nav .navigation .nav-item.active::after {
  width: 100%;
}

.low-nav .navigation .drop-down svg {
  margin: 0 .5rem;
}

.low-nav .navigation .drop-menu {
  display: none;
  position: absolute;
  z-index: 100;
  top: calc(100% + 5px);
  left: -1rem;
  width: 80vw;
  height: 80vh;
  padding: 1rem;
  background-color: var(--nat-100);
  border-radius: var(--radius);
  box-shadow: 2px 2px 4px var(--shadow);
}

.low-nav .navigation  .drop-menu .drop-header .drop-title {
  padding-left: .5rem;
  margin: 0 2rem;
  border-left: 2px solid var(--nat-700);
  text-transform: capitalize;
  color: var(--nat-700);
  font-size: 1.25rem;
  font-weight: bold;
}
.low-nav .navigation  .drop-menu .drop-header svg {
  color: var(--nat-700);
  font-size: 2rem;
  cursor: pointer;
}

.low-nav .navigation  .drop-menu .drop-header svg:last-of-type {
  margin-left: auto
}

.low-nav .navigation .drop-menu .drop-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  text-align: center;
  row-gap: 40px;
}

.low-nav .navigation .drop-menu .drop-content a {
  text-transform: capitalize;
  color: var(--nat-700);
}

.low-nav .navigation .drop-menu .drop-content a span {
  transition: color var(--trans-dur);
}

.low-nav .navigation .drop-menu .drop-content a:hover span {
  color: var(--brand-100);
}

.low-nav .account-menu .log-in {
  margin: 0 1rem;
  color: var(--nat-600);
  transition: color var(--trans-dur);
}

.low-nav .account-menu .log-in:hover {
  color: var(--brand-200)
}

.low-nav .account-menu .sign-up {
  display: inline-block;
  padding: .25rem .5rem;
  background-color: var(--nat-600);
  border-radius: var(--radius);
  font-weight: bold;
  cursor: pointer;
  transition: color var(--trans-dur), background var(--trans-dur);
}

.low-nav .account-menu .sign-up:hover {
  background-color: var(--brand-200);
  color: var(--nat-600)
}
/* End Header */

/* ######## Start Landing ######## */
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing .landing-title {
  text-transform: capitalize;
  color: var(--nat-600);
  font-size: 3rem;
  font-weight: bold;
}

.landing .landing-info {
  margin: 1.5rem;
  color: var(--nat-600);
  font-size: 1.5rem;
  font-weight: bold;
}

.landing .platforms-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.landing .platforms-container .download-app {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
  padding: 1.2rem;
  background-color: var(--brand-200);
  border-radius: var(--radius);
  color: var(--nat-600);
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
  transition: box-shadow var(--trans-dur);
}

.landing .platforms-container .download-app::after {
  content: "get doc for linux";
  position: absolute;
  transition: font-size var(--trans-dur);
}

.landing .platforms-container .download-app:hover::after {
  font-size: .95rem;
}

.landing .platforms-container .download-app:hover {
  box-shadow: inset 0 0 0px 4px var(--nat-600);
}

.landing .platforms-container .more-platform {
  color: var(--brand-100);
  text-transform: capitalize;
  transition: color var(--trans-dur)
}

.landing .platforms-container .more-platform:hover {
  color: var(--nat-600)
}
/* ######## End Landing ######## */
