/* Start Global */
* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
}

:root {
  /* #### OTHER #### */
  --radius: 4px;
  --trans-dur: .3s;
  --shadow: rgba(0, 0, 0, 15%);
  font-size: 16px;

  /* #### COLORS #### */
  /* BRAND */
  --brand-100: #64B5F6;
  --brand-200: #2196F3;
  --brand-300: #1976D2;

  /* NAT */
  --nat-100: #FAFAFA;
  --nat-200: #EEEEEE;
  --nat-300: #E0E0E0;
  --nat-400: #757575;
  --nat-500: #424242;
  --nat-600: #212121;
  --nat-700: #141414;

  --black: #000000;
  --white: #FFFFFF;

  /* NAT FIX */
  --nat-fix-100: #FAFAFA;
  --nat-fix-200: #EEEEEE;
  --nat-fix-300: #E0E0E0;
  --nat-fix-400: #757575;
  --nat-fix-500: #424242;
  --nat-fix-600: #212121;
  --nat-fix-700: #141414;

  --black-fix: #000000;
  --white-fix: #FFFFFF;

  /* SUPPORT */
  --blue: #3F51B5;
  --red: #F44336;
  --green: #4CAF50;
}

[theme="dark"] {
  --nat-700: #FAFAFA;
  --nat-600: #EEEEEE;
  --nat-500: #E0E0E0;
  --nat-400: #757575;
  --nat-300: #424242;
  --nat-200: #212121;
  --nat-100: #141414;

  --white: #000000;
  --black: #FFFFFF;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: var(--nat-200);
}

/* End Global */