/* Start Main */
.user-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0;
}
/* End Main */
/* Start Sidebar */
.user-navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 15%;
  min-height: 100vh;
  height: 100%;
  background-color: var(--nat-100);
}

.user-navigation li {
  position: relative;
  width: 100%;
  margin: 0.25rem 0;
  cursor: pointer;
  z-index: 1;
}

.user-navigation li::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 4px;
  height: 0%;
  background-color: var(--brand-200);
  transition:
    top 0.3s,
    height 0.3s;
}

.user-navigation li:hover::after,
.user-navigation li.active::after {
  height: 100%;
  top: 0;
}

.user-navigation li .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--brand-200);
  opacity: 0;
  transition:
    opacity 0.3s,
    width 0.5s ease;
  z-index: -1;
}

.user-navigation li:hover .overlay,
.user-navigation li.active .overlay {
  opacity: 0.2;
  width: 100%;
}

.user-navigation li a {
  display: inline-block;
  width: 100%;
  padding: 0.7rem 1rem;
  color: var(--nat-600);
  text-transform: capitalize;
}

.user-navigation li svg {
  color: var(--nat-600);
}
/* End Sidebar */
/* Start Profile Nenu */
.profile-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 80%;
  min-height: 100vh;
  height: 100%;
}

.profile-menu .user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3rem;
}

.profile-menu .user-info img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-right: 2rem;
}

.profile-menu .user-info .username {
  font-size: 2rem;
  font-weight: bold;
  color: var(--nat-600);
}

.profile-menu form,
.profile-menu form .field-group,
.profile-menu form .field-group input {
  width: 80%;
}

.profile-menu input[type="submit"] {
  width: fit-content;
  padding: 0.5rem 6rem;
}

/* End Profile Menu */
/* Start Documents Menu */
.documents-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-basis: 80%;
  margin-right: 1rem;
}

.documents-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: .5rem 1rem;
  margin-bottom: 2rem;
  background-color: var(--nat-100);
  border-bottom: 1px solid var(--nat-600);
}

.documents-navigation svg {
  color: var(--nat-600);
  cursor: pointer;
  transition: color .3s;
}

.documents-navigation svg:hover {
  color: var(--brand-200)
}

.documents-navigation .return-bottom {
  margin-right: 1rem;
}

.documents-navigation .add-button {
  margin-left: auto;
}

.documents-navigation .nav-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.documents-navigation .nav-items li {
  color: var(--nat-600);
  text-transform: capitalize;
  cursor: pointer;
  transition: color .3s;
}

.documents-navigation .nav-items li::after {
  content: "/";
  color: var(--nat-600)
}

.documents-navigation .nav-items li:hover {
  color: var(--brand-200)
}

.documents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.documents .document {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.documents .document .document-details {
  flex: 1;
  height: 100%;
  background-color: var(--nat-100);
  border-left: 1px solid var(--nat-600);
  border-radius: 4px;
  transition: background .3s;
  cursor: pointer;
}

.documents .document .document-details:hover {
  background-color: var(--nat-300);
}

.documents .document span {
  color: var(--nat-600);
  text-transform: capitalize;
  padding: .5rem 1rem;
}

.documents .document .document-tools {
  width: fit-content;
  background-color: var(--nat-200);
  border-left: 1px solid var(--nat-600);
  padding: 0.25rem .5rem;
}

.documents .document .document-tools svg {
  color: var(--nat-600);
  margin: 0 .375rem;
  border: 1px solid var(--nat-600);
  border-radius: 4px;
  padding: .5rem;
  font-size: .8rem;
  transition: color 0.3s, border .3s;
}

.documents .document .document-tools svg.fa-trash:hover {
  color: var(--red);
  border-color: var(--red)
}

.documents .document .document-tools svg.fa-pen:hover {
  color: var(--blue);
  border-color: var(--blue)
}

.documents .document .document-tools svg.fa-eye:hover {
  color: var(--blue);
  border-color: var(--blue)
}
/* End Documents Menu */
