.paginate {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.paginate .pag-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: .25rem;
    margin: 0 .25rem;
    background-color: var(--brand-200);
    border: 1px solid var(--brand-200);
    border-radius: 4px;
    color: var(--nat-600);
    cursor: pointer;
    transition: background .3s, color .3s;
}

.paginate .pag-item:hover,
.paginate .pag-item.active {
    color: var(--brand-200);
    background-color: var(--nat-600);
}